<h1>Post Details:</h1>
<p>Title: <%= @post.title %></p>
<p>Content: <%= @post.text %></p>
<p>Author: <%= @post.user.name %></p>
<p>Number of Likes: <%= @post.likes_counter %></p>
<p>Number of Comments: <%= @post.comments_counter %></p>

<h2>Recent Comments:</h2>
<ul>
  <% @post.comments.each do |comment| %>
    <li><%= comment.text %> - <%= comment.user.name %></li>
  <% end %>
</ul>
