<!DOCTYPE html>
<html>
  <head>
    <title>BeyondBorders</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <nav>
        <h1>BeyondBorders</h1>
      </nav>
    </header>
    <main>
      <p class="notice"> <% notice %> </p>
      <p class="alert"> <% alert %> </p>
      <div id="sign-out">
      <% if user_signed_in? %>
          <%= button_to "Sign out", destroy_user_session_path, :method => :delete %>
      <% end %>
      </div>
      <%= yield %>
    </main>

    <footer>
      <p>&copy; <%= Time.now.year %> Beyond Borders</p>
    </footer>
  </body>
</html>
